[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stitchtoon = {editable = true, path = "./../stitchtoon"}
python-telegram-bot = "*"
sqlalchemy = "*"
gdown = "*"

[dev-packages]

[requires]
python_version = "3.11"
